{% extends "layout.html" %}

{% block title %}
    Shop Sweatshirts
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

        <div class="product-page-wrapper">

        <!-- Link header -->
        <nav class="navigation" role="navigation">
            <a href="/" title="Back to the frontpage">Home</a>
            <span aria-hidden="true" class="separator">/</span>
            <span>Sweatshirts</span>
        </nav>

        <div class="section-header">
            <div class="shop-subhead"><em>Bundle up bitch.</em></div>
        </div>

        <section>
            <div class="container px-4 px-lg-5 mt-5">

            </div>
        </section>
    </div>

{% endblock %}