#product-pic1 {
    background-image: url('/static/products/product_1.png');
}
  
#product-pic1:hover {
background-image: url('/static/products/product_1_alt.png');
}

#product-pic2 {
background-image: url('/static/products/product_2.png');
}

#product-pic2:hover {
background-image: url('/static/products/product_2_alt.png');
}

#product-pic3 {
background-image: url('/static/products/product_3.png');
}

#product-pic3:hover {
background-image: url('/static/products/product_3_alt.png');
}

#product-pic4 {
background-image: url('/static/products/product_4.png');
}

#product-pic4:hover {
background-image: url('/static/products/product_4_alt.png');
}

#product-pic5 {
    background-image: url('/static/products/product_5.png');
}
    
#product-pic5:hover {
background-image: url('/static/products/product_5_alt.png');
}

#product-pic6 {
background-image: url('/static/products/product_6.png');
}

#product-pic6:hover {
background-image: url('/static/products/product_6_alt.png');
}

#product-pic7 {
background-image: url('/static/products/product_7.png');
}

#product-pic7:hover {
background-image: url('/static/products/product_7_alt.png');
}

#product-pic8 {
background-image: url('/static/products/product_8.png');
}

#product-pic8:hover {
background-image: url('/static/products/product_8_alt.png');
}

/* Banner image */

/* @media only screen and (min-width : 768px) {
    #banner-img{
        background-image: url('static/banner-img4.png');
    }
}
@media only screen and (min-width : 100px) {
    #banner-img{
        background-image: url('static/cramer sistine chapel retouched.png');
    }
} */

@media only screen and (max-width : 400px) {
    #banner-img {
        background-image:  url('/static/cramer sistine chapel retouched.png');
    }
}

#subprime-shirt-pic20 {
background-image: url('/static/cramer sistine chapel retouched.png');
}

/* Shirt photos */

#subprime-shirt-pic1:hover {
background-image: url('/static/products/shirts/subprime shirt outside.webp');
}

#subprime-shirt-pic1 {
background-image: url('/static/products/shirts/subprime shirt closeup.webp');
}

#svb-bonds-shirt-pic1:hover {
background-image: url('/static/products/shirts/svb-bonds-shirt-outside2.webp');
}

#svb-bonds-shirt-pic1 {
background-image: url('/static/products/shirts/svb-bonds-shirt-closeup.webp');
}

#lehman-shirt-pic1:hover {
background-image: url('/static/products/shirts/lehman-shirt outside.webp');
}

#lehman-shirt-pic1 {
background-image: url('/static/products/shirts/lehman-shirt closeup.webp');
}

#bear-intern-shirt-pic1:hover {
background-image: url('/static/products/shirts/bear stearns intern shirt outside2.webp');
}

#bear-intern-shirt-pic1 {
background-image: url('/static/products/shirts/bear stearns intern shirt closeup.webp');
}

#bear-fine-shirt-pic1:hover {
background-image: url('/static/products/shirts/bear stearns is fine shirt outside.webp');
}

#bear-fine-shirt-pic1 {
background-image: url('/static/products/shirts/bear stearns is fine shirt closeup.webp');
}

#ftx-shirt-pic1:hover {
/* background-image: url('/static/products/shirts/ftx bahamas shirt outside.jpg'); */
background-image: url('/static/products/shirts/ftx bahamas shirt outside 2.0.webp');
}

#ftx-shirt-pic1 {
/* background-image: url('/static/products/shirts/ftx bahamas shirt closeup.jpg'); */
background-image: url('/static/products/shirts/ftx bahamas shirt closeup 2.0.webp');
}

#theta-gang-shirt-pic1:hover {
background-image: url('/static/products/shirts/theta gang shirt outside.webp');
}

#theta-gang-shirt-pic1 {
background-image: url('/static/products/shirts/theta gang shirt closeup.webp');
}

#svb-run-shirt-pic1:hover {
background-image: url('/static/products/shirts/svb bank run shirt outside.webp');
}

#svb-run-shirt-pic1 {
background-image: url('/static/products/shirts/svb bank run shirt closeup.webp');
}


/* Mug photos */

#subprime-pic1 {
background-image: url('/static/products/mugs/subprime2.webp');
}

#subprime-pic1:hover {
background-image: url('/static/products/mugs/subprime.webp');
}
    
#subprime-pic2 {
background-image: url('/static/products/mugs/subprime.webp');
}

#subprime-pic3 {
background-image: url('/static/products/mugs/subprime3.webp');
}

#subprime-pic4 {
background-image: url('/static/products/mugs/subprime4.webp');
}

#subprime-pic5 {
background-image: url('/static/products/mugs/subprime5.webp');
}

#ftx-pic1 {
background-image: url('/static/products/mugs/ftx-bahamas-mug-inside-2.0.webp');
}

#ftx-pic1:hover {
background-image: url('/static/products/mugs/ftx-bahamas-mug-2.0.webp');
}

#lehman-pic1 {
background-image: url('/static/products/mugs/lehman5.webp');
}

#lehman-pic1:hover {
background-image: url('/static/products/mugs/lehman.webp');
}

#svb-pic1 {
background-image: url('/static/products/mugs/svb-bonds3.webp');
}

#svb-pic1:hover {
background-image: url('/static/products/mugs/svb-bonds.webp');
}

#stratton {
background-image: url('/static/products/mugs/stratton2.webp');
}

#stratton:hover {
background-image: url('/static/products/mugs/stratton.webp');
}

#guh-pic1 {
background-image: url('/static/products/mugs/guh4.webp');
}

#guh-pic1:hover {
background-image: url('/static/products/mugs/guh.webp');
}

#theta-pic1 {
background-image: url('/static/products/mugs/theta-gang4.webp');
}

#theta-pic1:hover {
background-image: url('/static/products/mugs/theta-gang1.webp');
}

#theta-pic2 {
background-image: url('/static/products/mugs/theta-gang3.webp');
}

#theta-pic2:hover {
background-image: url('/static/products/mugs/theta-gang2.webp');
}

/* Hat photos */

#ftx-hat-pic1:hover {
background-image: url('/static/products/hats/ftx bahamas hat outside 2.0.webp');
}

#ftx-hat-pic1 {
background-image: url('/static/products/hats/ftx bahamas hat 2.0.webp');
}