{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    
    <div class="fat-page-wrapper">
        <h1 class="text-uppercase itc">About Us</h1>
        <br>
        <div class="feature-copy">
            <h3 class="centered-text"><em><strong>Like 4chan started a small business.</strong></em></h3>
            <br>

            <p>The #1 finance site in the world, and possibly the universe, <a href="meet_the_team" class="styled-hyperlinks">FinnRizz.com</a>, would like to thank you for stopping by.</p>
            <p>We’re just a couple of guys who used to buy SPY weeklies back in the old WallStreetBets days. You know… “traders”. Some of us still set aside some play money for the occasional out of the money prayer call for old time’s sake. Some of us have graduated to Theta Gang. Some of us are still retarded. All of us love the market. Specifically, options and Jim Cramer's shiny head.</p>
            <p><strong>Fin Rizz</strong> is much more than merchandise and bad option plays. It’s pride. Pride of your four-figure Robin Hood account. Pride of your hustle working that second “job” behind the local Wendy’s dumpster. Pride of your ability to let your wife enjoy the company of her boyfriend without snapping at the Thanksgiving dinner table again. </p>
            <p>Nothing is sacred here. The Fed is gay. I’m banned from the NYSE trading floor for bullshit reasons that we don’t have to get into.</p>
            <p class="centered-text">Cheers from the <a href="meet_the_team" class="styled-hyperlinks">FinRizz Team</a>.</p>

        </div>
    </div>

{% endblock %}