{% extends "layout.html" %}

{% block title %}
    The Blog
{% endblock %}

{% block header %}

    <!-- Banner image -->
    <div class="feature-img-wrapper">
        <img class="feature-image" id="banner-img" src="static/cramer sistine chapel retouched.png"/> 
    </div>

{% endblock %}

{% block main %}

<div class="projcard-container">
		
	<div class="projcard projcard-blue">
        <a href="blog/the_hound_of_hounslow">
            <div class="projcard-innerbox">
                <img class="projcard-img" src="static/Navinder_Singh_Sarao.jpg" />
                <div class="projcard-textbox lefty-textbox">
                    <div class="projcard-title lefty-title">The Hound of Hounslow</div>
                    <div class="projcard-subtitle lefty-subtitle">How an autist broke the market and sent regulatory agencies on a wild goose chase.</div>
                    <div class="projcard-bar lefty-bar"></div>
                    <div class="projcard-description">On May 6, 2010, Jim Cramer’s brain broke. “That is not a real price,” he yelled to his monitor. “OK? That is not a real price.” Proctor & Gamble had just fallen 25% in a manner of minutes, then 29%, then 31%. Cramer had never seen such a shiny knife, such a beautiful buy, and he searched frantically for the right camera to beg his followers to add PG to their portfolio...</div>
                    <div class="projcard-tagbox">
                        <span class="projcard-tag lefty-tag">Spoofing</span>
                        <span class="projcard-tag lefty-tag">Autism Awareness</span>
                    </div>
                </div>
            </div>
        </a>
	</div>
	
	<div class="projcard projcard-red">
        <a href="blog/meme_traders">
            <div class="projcard-innerbox">
                <img class="projcard-img" src="static/peter_tuckman.jpeg" />
                <div class="projcard-textbox righty-textbox">
                    <div class="projcard-title righty-title">The Meme Traders</div>
                    <div class="projcard-subtitle righty-subtitle">There's Warren Buffet, Ray Dalio, Michael Burry, and Steve Eisman. Then there's these guys...</div>
                    <div class="projcard-bar righty-bar"></div>
                    <div class="projcard-description">Some of the most intelligent traders have poked their heads into WallStreetBets over the years. Doctors, lawyers, engineers, PhD students—they’ve all produced some solid research, both in their fields and outside of them. And while there was a deep respect in the sub for the likes of Michael Burry and Steve Eisman, there was also an appreciation for some of the more basement-dwelling types...</div>
                    <div class="projcard-tagbox">
                        <span class="projcard-tag">WallStreetBets</span>
                        <span class="projcard-tag">Guh</span>
                    </div>
                </div>
            </div>
        </a>
	</div>
	
	<div class="projcard projcard-green">
        <a href="blog/tanker_gang">
            <div class="projcard-innerbox">
                <img class="projcard-img" src="static/tanker_gang_fail.jpg" />
                <div class="projcard-textbox lefty-textbox">
                    <div class="projcard-title lefty-title">Tanker Gang</div>
                    <div class="projcard-subtitle lefty-subtitle">Oil went negative for the first time ever in 2020. Here's what some idiots on WSB did.</div>
                    <div class="projcard-bar lefty-bar"></div>
                    <div class="projcard-description">“Never invest in a business you cannot understand.” These sage words have been uttered many times over the years by Warren Buffett and those who value his advice. The Oracle of Omaha has, at the time of this publication, amassed a fortune of over $80 billion by following his own simple advice. So when oil futures went negative in April of 2020 following a 30% drop in global oil demand due to the coronavirus pandemic, WSB collectively decided to...</div>
                    <div class="projcard-tagbox">
                        <span class="projcard-tag lefty-tag">Futures</span>
                        <span class="projcard-tag lefty-tag">Oil</span>
                    </div>
                </div>
            </div>
        </a>
	</div>
	
	<div class="projcard projcard-customcolor" style="--projcard-color: #F5AF41;">
        <a href="blog/martin_shkreli">
            <div class="projcard-innerbox">
                <img class="projcard-img" src="static/shkreli_pose.jpg" />
                <div class="projcard-textbox righty-textbox">
                    <div class="projcard-title righty-title">His Name is Martin Shkreli</div>
                    <div class="projcard-subtitle righty-subtitle">Before he became Wall Street's villain, Wallstreetbets knew him as just another autist.</div>
                    <div class="projcard-bar righty-bar"></div>
                    <div class="projcard-description">Martin Shkreli may have been the most hated CEO in America in 2015, but at least he had moderator status on WallStreetBets. Before that fateful year, when he was dragged into the American limelight smirking and giggling for raising the price of Daraprim, an anti-parasitic drug used to treat toxoplasmosis in AIDS patients, from $13.50 a pill to $750 a pill, things had been going pretty well for the Brooklyn-born hedge fund manager...</div>
                    <div class="projcard-tagbox">
                        <span class="projcard-tag">Pharma</span>
                        <span class="projcard-tag">Wu-Tang</span>
                    </div>
                </div>
            </div>
        </a>
	</div>
	
</div>

{% endblock %}