{% extends "layout.html" %}

{% block meta %}
    <meta name="description" content="Learn how you can get in touch with the FinRizz team with questions or comments.">
    <meta property="og:description" content="Learn how you can get in touch with the FinRizz team with questions or comments.">
{% endblock %}

{% block title %}
    Contact Us
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    
    <div class="medium-page-wrapper">
        <div class="product-section">
            <div class="grid-half top-half">
                <h2>Contact Us</h2>
                <p>Have a question? Want to just talk? Contact us at shop@finrizz.com</p>
                <p>We're a new company so suggestions on how we can improve are more than welcome!</p>
            </div>
            <div class="grid-half bottom-half">
                <img src="static/question-dog.jpg" width="100%">
                
            </div>
        </div>
    </div>

{% endblock %}