{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block header %}
        <!-- Header-->
        <div class="feature-img-wrapper">
            <img class="feature-image" id="banner-img" src="/static/cramer sistine chapel retouched.png"/> 
            {# <img class="feature-image" id="banner-img" src="static/product-banner-img.png"/>  #}

            {# <div class="shop-container">
                <a href="/shop_all" class="shop">BLOG  
                    <span class="next-arrow">
                        <i class="fa fa-arrow-right" style="font-size:15px"></i>
                    </span>
                </a>
            </div>
            <div class="shop-container">
                <a href="/shop_all" class="shop">SHOP 
                    <span class="next-arrow">
                        <i class="fa fa-arrow-right" style="font-size:15px"></i>
                    </span>
                </a>
            </div> #}

        </div>

{% endblock %}

{% block main %}
    <div class="product-page-wrapper">
        <div class="section_wrapper">
            <h3 class="section_title">
                BEST SELLERS
                <div class="section_border"></div>
            </h3>
        </div>

                <section>
            <div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


                    <!-- Card #1 (subprime mug) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/subprime-mug">
                            <div class="card h-100">
                                <!-- Product details-->
                                <div class="card-img-mine" id="subprime-pic1"></div>
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Subrime Mug</h5>
                                        <div class="price">
                                        $15.00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card #12 (bear intern shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/bear-stearns-intern-shirt">
                            <div class="card h-100">
                                <!-- Product details-->
                                <div class="card-img-mine" id="bear-intern-shirt-pic1"></div>
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Bear Stearns 2007 Intern T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">$24.00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card #3 (lehman mug) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/lehman-mug">
                            <div class="card h-100">
                            <div class="card-img-mine" id="lehman-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Lehman Brothers Risk Management Mug</h5>
                                        <div class="price">$15.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card #10 (ftx shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/ftx-shirt">
                            <div class="card h-100">
                                <div class="card-img-mine" id="ftx-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">FTX Bahamas Retreat T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            {# <span class="text-muted text-decoration-line-through">$29.99</span> #}
                                            $28.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card #17 (ftx hat) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/ftx-hat">
                            <div class="card h-100">
                                <div class="card-img-mine" id="ftx-hat-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">FTX Bahamas Retreat Hat</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $28.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card #6 (guh mug) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/guh-mug">
                            <div class="card h-100">
                                <div class="card-img-mine" id="guh-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Guh Mug</h5>
                                        <div class="price">
                                            $15.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card #14 (svb bonds shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/svb-bonds-shirt">
                            <div class="card h-100">
                                <!-- Product image-->
                                <div class="card-img-mine" id="svb-bonds-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">SVB Bonds Analyst T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $24.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card #8 (theta gang mug #2) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/theta-gang-retro-mug">
                            <div class="card h-100">
                                <div class="card-img-mine" id="theta-pic2"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Theta Gang Retro Mug</h5>
                                        <div class="price">
                                            $15.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        
        <div class="section_wrapper">
            <h3 class="section_title">
                MUGS
                <div class="section_border"></div>
            </h3>
        </div>

        <section>
            <div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!-- MUGS -->
                    <!-- Card #1 (subprime mug) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/subprime-mug">
                            <div class="card h-100">
                                <!-- Product details-->
                                <div class="card-img-mine" id="subprime-pic1"></div>
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Subrime Mug</h5>
                                        <div class="price">
                                        $15.00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #2 (ftx mug) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/ftx-mug">
                            <div class="card h-100">
                                <div class="card-img-mine" id="ftx-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">FTX Retreat Mug</h5>
                                        <div class="price">
                                            {# <span class="text-muted text-decoration-line-through">$17.99</span> #}
                                            $15.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #3 (lehman mug) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/lehman-mug">
                            <div class="card h-100">
                            <div class="card-img-mine" id="lehman-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Lehman Brothers Risk Management Mug</h5>
                                        <div class="price">$15.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #4 (svb bonds mug) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/svb-mug">
                            <div class="card h-100">
                                <!-- Product details-->
                                <div class="card-img-mine" id="svb-pic1"></div>
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">SVB Bond Analyst Mug</h5>
                                        <!-- Product price-->
                                        <div class="price">$15.00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #5 (stratton mug) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/stratton-mug">
                            <div class="card h-100">
                                <!-- Product details-->
                                <div class="card-img-mine" id="stratton"></div>
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Stratton Oakmont Mug</h5>
                                        <div class="price">
                                            {# <span class="text-muted text-decoration-line-through">$14.99</span> #}
                                            $15.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #6 (guh mug) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/guh-mug">
                            <div class="card h-100">
                                <div class="card-img-mine" id="guh-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Guh Mug</h5>
                                        <div class="price">
                                            $15.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #7 (theta gang mug #1) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/theta-gang-oe-mug">
                            <div class="card h-100">
                                <div class="card-img-mine" id="theta-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Theta Gang OE Mug</h5>
                                        <div class="price">
                                            $15.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #8 (theta gang mug #2) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/theta-gang-retro-mug">
                            <div class="card h-100">
                                <div class="card-img-mine" id="theta-pic2"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <h5 class="text-uppercase">Theta Gang Retro Mug</h5>
                                        <div class="price">
                                            $15.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <div class="section_wrapper">
            <h3 class="section_title">
                SHIRTS
                <div class="section_border"></div>
            </h3>
        </div>

        <section>
            <div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!-- SHIRTS -->
                    <!-- Card #9 (Subprime shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/subprime-shirt">
                            <div class="card h-100">
                                <!-- Product details-->
                                <div class="card-img-mine" id="subprime-shirt-pic1"></div>
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Subrime T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                        $24.00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #10 (ftx shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/ftx-shirt">
                            <div class="card h-100">
                                <div class="card-img-mine" id="ftx-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">FTX Bahamas Retreat T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            {# <span class="text-muted text-decoration-line-through">$29.99</span> #}
                                            $28.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #11 (Lehman shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/lehman-shirt">
                            <div class="card h-100">
                                <div class="card-img-mine" id="lehman-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Lehman Brothers Risk Management T-Shirt</h5>
                                        <div class="price">
                                        <!-- Product price-->
                                            $24.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #12 (bear intern shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/bear-stearns-intern-shirt">
                            <div class="card h-100">
                                <!-- Product details-->
                                <div class="card-img-mine" id="bear-intern-shirt-pic1"></div>
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Bear Stearns 2007 Intern T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">$24.00</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #13 (bear is fine shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/bear-stearns-is-fine-shirt">
                            <div class="card h-100">
                                <!-- Product image-->
                                <div class="card-img-mine" id="bear-fine-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Bear Stearns is Fine T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            {# <span class="text-muted text-decoration-line-through">$24.99</span> #}
                                            $24.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #14 (svb bonds shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/svb-bonds-shirt">
                            <div class="card h-100">
                                <!-- Product image-->
                                <div class="card-img-mine" id="svb-bonds-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">SVB Bonds Analyst T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $24.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #15 (theta gang shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/theta-gang-shirt">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <!-- Product image-->
                                <div class="card-img-mine" id="theta-gang-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Theta Gang Old English T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $24.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #16 (svb bank run shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/svb-bank-run-shirt">
                            <div class="card h-100">
                                <!-- Product image-->
                                <div class="card-img-mine" id="svb-run-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">SVB Bank Run T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $24.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <div class="section_wrapper">
            <h3 class="section_title">
                HATS
                <div class="section_border"></div>
            </h3>
        </div>

        <section>
            <div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!-- HATS -->
                    <!-- Card #17 (ftx hat) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/ftx-hat">
                            <div class="card h-100">
                                <div class="card-img-mine" id="ftx-hat-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">FTX Bahamas Retreat Hat</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $28.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        
    </div>
{% endblock %}