{% extends "layout.html" %}

{% block meta %}
    <meta name="description" content="Meet the team in charge of running all FinRizz operations.">
    <meta property="og:description" content="Meet the team in charge of running all FinRizz operations.">
{% endblock %}

{% block title %}
    Meet the Team
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="medium-page-wrapper">
        <h2 class="centered-text">The Team <em>(it's just us)</em></h2>
        <div class="product-section">

            <div class="grid-half top-half">
                <div class="bio">
                    <img class="profile-pic" src="static/meet_the_team_me.jpg" width="80%">
                    <div class="name">
                        Derek
                    </div>
                    <div class="title">
                        Founder
                    </div>
                    <div class="backstory">
                        Avid Mad Money fan. Unfortunately banned from calling into the show.
                    </div>
                </div>
            </div>
            <div class="grid-half top-half">
                <div class="bio">
                    <img class="profile-pic" src="static/meet_the_team_bailey.jpg">
                    <div class="name">
                        Bailey Boy
                    </div>
                    <div class="title">
                        Head of Marketing
                    </div>
                    <div class="backstory">
                        Undeniably lazy. Eats milk bones, naps all day, and barks at imaginary intruders.
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}