{% extends "layout.html" %}

{% block meta %}
    <meta name="description" content="Learn more about FinRizz Store's shipping policies including standard shipping times and returns.">
    <meta property="og:description" content="Learn more about FinRizz Store's shipping policies including standard shipping times and returns.">
{% endblock %}

{% block title %}
    Shipping
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="fat-page-wrapper">
        <div class="feature-copy">
            <h1 class="text-uppercase itc">Shipping + Refund Policy</h1>
            <p>
                <strong>Shipping</strong>
            </p>
            <p>All of our graphic tees are made to order. Please note your order may arrive in separate shipments.</p>
            <p>Orders may not be canceled once printing has begun.</p>
            <p>Any order that has not shipped within 30 days will be eligible for a refund.</p>
            <p>For International order (orders received outside of the United States) the seller only takes responsibility for shipping the product, and requires the customer to pay any import costs, such as VAT, duties, and clearing fees upon arrival.</p>
            <p>
                <strong>Returns</strong>
            </p>
            <p>Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.</p>
            <p>To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</p>
            <p>
                <strong>
                    To complete your return, we require a receipt or proof of purchase. Please email <span style="color: #cc0000;">shop@finrizz.com</span> the following:
                </strong>
            </p>
            <p>1. Order #</p>
            <p>2. Issue with order</p>
            <p>
                <strong>
                    Please do not send your purchase back to the manufacturer or you will be charged for shipping. Send it to the address we provide to you via <span style="color: #cc0000;">shop@finrizz.com</span> after you have contacted via email.
                </strong>
            </p>
            <p>You must return the item, and we will then provide you with a full refund (minus shipping) immediately.</p>
            <p>* FinRizz is not responsible for stolen packages or "missing" packages once tracking says item(s) has been delivered. We are also not responsible for packages being shipped to the wrong address if the wrong address was entered at checkout and never corrected on customer's end.</p>
            <p>Cheers!</p>
        </div>
    </div>
{% endblock %}