{% extends "layout.html" %}

{% block title %}
    Shop Shirts
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

        <div class="product-page-wrapper">

        <!-- Link header -->
        <nav class="navigation" role="navigation">
            <a href="/" title="Back to the frontpage">Home</a>
            <span aria-hidden="true" class="separator">/</span>
            <span>Shirts</span>
        </nav>

        <div class="section-header">
            <div class="shop-subhead"><em>Fresh off the presses.</em></div>
        </div>

        <section>

            <div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!-- SHIRTS -->
                    <!-- Card #9 (Subprime shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/subprime-shirt">
                            <div class="card h-100">
                                <!-- Product details-->
                                <div class="card-img-mine" id="subprime-shirt-pic1"></div>
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Subrime T-Shirt</h5>
                                        <div class="price"><!-- Product price-->
                                        $24.99</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #10 (ftx shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/ftx-shirt">
                            <div class="card h-100">
                                <div class="card-img-mine" id="ftx-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">FTX Bahamas Retreat T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            <span class="text-muted text-decoration-line-through">$29.99</span>
                                            $24.99
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #11 (Lehman shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/lehman-shirt">
                            <div class="card h-100">
                                <div class="card-img-mine" id="lehman-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Lehman Brothers Risk Management T-Shirt</h5>
                                        <div class="price">
                                        <!-- Product price-->
                                            $24.99
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #12 (bear intern shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/bear-stearns-intern-shirt">
                            <div class="card h-100">
                                <!-- Product details-->
                                <div class="card-img-mine" id="bear-intern-shirt-pic1"></div>
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Bear Stearns 2007 Intern T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">$24.99</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #13 (bear is fine shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/bear-stearns-is-fine-shirt">
                            <div class="card h-100">
                                <!-- Product image-->
                                <div class="card-img-mine" id="bear-fine-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Bear Stearns is Fine T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            <span class="text-muted text-decoration-line-through">$24.99</span>
                                            $19.99
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #14 (svb bonds shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/svb-bonds-shirt">
                            <div class="card h-100">
                                <!-- Product image-->
                                <div class="card-img-mine" id="svb-bonds-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">SVB Bonds Analyst T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $24.99
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #15 (theta gang shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/theta-gang-shirt">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <!-- Product image-->
                                <div class="card-img-mine" id="theta-gang-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">Theta Gang Old English T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $24.99
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Card #16 (svb bank run shirt) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/svb-bank-run-shirt">
                            <div class="card h-100">
                                <!-- Product image-->
                                <div class="card-img-mine" id="svb-run-shirt-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">SVB Bank Run T-Shirt</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $24.99
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
    </div>


{% endblock %}