{% extends "layout.html" %}

{% block meta %}
    <meta name="description" content="An assortment of dad hats from FinRizz. Defunct banks, wallstreetbets, and finance humor hats.">
    <meta property="og:description" content="An assortment of dad hats from FinRizz. Defunct banks, wallstreetbets, and finance humor hats.">
{% endblock %}

{% block title %}
    Shop Hats
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

        <div class="product-page-wrapper">

        <!-- Link header -->
        <nav class="navigation" role="navigation">
            <a href="/" title="Back to the frontpage">Home</a>
            <span aria-hidden="true" class="separator">/</span>
            <span>Hats</span>
        </nav>

        <div class="section-header">
            {# <div class="shop-header">Hats</div> #}
            <div class="shop-subhead"><em>Cool dad hats. For everyone.</em></div>
        </div>

        <section>

            <div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!-- HATS -->
                    <!-- Card #17 (ftx hat) -->
                    <div class="new-column mb-5">
                        <a class="product-link" href="/products/ftx-hat">
                            <div class="card h-100">
                                <div class="card-img-mine" id="ftx-hat-pic1"></div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center store-font">
                                        <!-- Product name-->
                                        <h5 class="text-uppercase">FTX Bahamas Retreat Hat</h5>
                                        <!-- Product price-->
                                        <div class="price">
                                            $28.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
        </section>
    </div>

{% endblock %}