{% extends "layout.html" %}

{% block title %}
    Shop New
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

    <div class="product-page-wrapper">

        <!-- Link header -->
        <nav class="navigation" role="navigation">
            <a href="/" title="Back to the frontpage">Home</a>
            <span aria-hidden="true" class="separator">/</span>
            <span>New</span>
        </nav>

        <div class="section-header">
            {# <div class="shop-header">New</div> #}
            <div class="shop-subhead"><em>Brand spankin' new.</em></div>
        </div>


    </div>

{% endblock %}