{% extends "layout.html" %}

{% block title %}
    Shop Hats
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

        <div class="product-page-wrapper">

        <!-- Link header -->
        <nav class="navigation" role="navigation">
            <a href="/" title="Back to the frontpage">Home</a>
            <span aria-hidden="true" class="separator">/</span>
            <span>Hats</span>
        </nav>

        <div class="section-header">
            {# <div class="shop-header">Hats</div> #}
            <div class="shop-subhead"><em>Cool dad hats. For everyone.</em></div>
        </div>

        <section>
            <div class="filler-space">
                <h2>Coming soon!</h2>
            </div> 
        </section>
    </div>

{% endblock %}