{% extends "layout.html" %}

{% block meta %}
    <meta name="description" content="Learn about the FinRizz terms of service.">
    <meta property="og:description" content="Learn about the FinRizz terms of service.">
{% endblock %}

{% block title %}
    Terms of Service
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="fat-page-wrapper">
        <div class="feature-copy">
            <h1 class="text-uppercase itc">Terms of Service</h1>
            <p>These Terms and Conditions, govern your use of FinRizz’s website, www.finrizz.com (the “Website”), as well as all purchases you make or other transactions you enter into or engage in with FinRizz, whether on the Website or otherwise.</p>
            <h2>Additional Terms</h2>
            <p>These Terms and Conditions are in addition to, and hereby incorporate herein by reference, all of the following:</p>
            <p>(i) FinRizz’s Terms of Use;</p>
            <p>(ii) FinRizz’s Privacy Policy;</p>
            <p>(iii) FinRizz’s Copyright Policy; and</p>
            <p>(iv) All other legal notices published by FinRizz, its parent FinBiz, or its affiliates (collectively the “Additional Terms”).</p>
            <h2>Acceptance of Terms</h2>
            <p>By using our Website, placing any orders, purchasing any products available for sale on the Website or otherwise (“Products”), or subscribing to any services provided by FinRizz (“Services”), you indicate your unconditional acceptance of these Terms and Conditions. Please read them carefully, as they may have changed since your last visit. Access to the Website, use of the Services, and purchase of Products is subject to these Terms and Conditions and the Additional Terms. These Terms and Conditions along with the Additional Terms constitute your entire agreement between you and FinRizz.</p>
            <h2>Third Party Payment Processing</h2>
            <p>We use a third party payment service in lieu of directly processing your credit card information. By submitting your credit card information, you grant FinRizz the right to store and process your information with the third party payment service, which it may change from time to time; you agree that FinRizz will not be responsible for any failures of the third party to adequately protect such information. You acknowledge that we may change the third party payment service and move your information to other service providers that encrypt your information using secure socket layer technology (SSL) or other comparable security technology.</p>
            <h2>Shipping and Risk of Loss</h2>
            <p>Unless otherwise indicated at the time of your purchase, all shipping and handling fees are additional to and not included in the price of your order. Shipping dates and/or arrival times are only estimates. For loss/damage claims, you must notify FinRizz within thirty (30) days of the date of your purchase if you believe all or part of your order is missing or damaged.</p>
            <h2>Returns and Exchanges</h2>
            <p>If a Product is defective, you may return it within thirty (30) days of receipt and we will send you a new item or credit your account. To request a refund, please contact us at shop@finrizz.com. When returning Products, it is your responsibility to take reasonable care to see that the Products are not damaged in transit and are received by us at our address as displayed on the Website.</p>
            <h2>Local Taxes</h2>
            <p>Your total price will include the price of the product plus applicable sales tax; such state and local sales tax is based on the shipping address and the sales tax rate in effect at the time you purchase the product. We will charge tax only in states and other territories where the goods sold over the internet are taxable.</p>
            <h2>Disclaimer of Warranties</h2>
            <p>YOU ARE SOLELY RESPONSIBLE FOR DETERMINING IF THE PRODUCTS ARE SUITABLE FOR USE. WE ARE NOT ABLE TO PROVIDE ANY ASSURANCES REGARDING ALLERGIES.</p>
            <p>Under no circumstances will we be liable for any loss or damage caused by your use of the Products or your reliance on information in any Content on this Website. YOU AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY ARISING FROM OR RELATING IN ANY WAY TO ANY PRODUCT SHALL BE ITS REPLACEMENT OR A CREDIT TOWARDS ANOTHER MONTHLY SHIPMENT, IN FIN RIZZ SHOP'S DISCRETION.</p>
            <p>YOU MAY RETURN DEFECTIVE PRODUCTS ONLY WITHIN THIRTY (30) DAYS OF DELIVERY. EXCEPT AS EXPRESSLY PROVIDED HEREIN, ALL PRODUCTS SUPPLIED, AND ALL TEXT, IMAGES, AND OTHER INFORMATION ON OR ACCESSIBLE FROM THIS WEBSITE ARE PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. SPECIFICALLY, BUT WITHOUT LIMITATION, FIN RIZZ SHOP DOES NOT WARRANT THAT: (i) THE INFORMATION AVAILABLE ON THIS WEBSITE IS FREE OF ERRORS; (ii) THE PRODUCTS OR SERVICES ARE NOT DEFECTIVE; (iii) THE FUNCTIONS OR SERVICES (INCLUDING BUT NOT LIMITED TO MECHANISMS FOR THE DOWNLOADING AND UPLOADING OF CONTENT) PROVIDED BY THIS WEBSITE WILL BE UNINTERRUPTED, SECURE, OR FREE OF ERRORS; (iv) DEFECTS WILL BE CORRECTED, OR (v) THIS WEBSITE OR THE SERVER(S) THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>
            <p>Exclusions: SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
        </div>
    </div>
{% endblock %}